.prov-page {
	width:254px;
	border-right:1px dashed #CCC;
	float:left;
	height:415px;
	font-size:14px;
	font-family:"SIMSUN","ו",MONOSPACE;
	*margin:5px 0;
}
.prov-page .info{
	text-align:center;
	color:#666;
	padding:15px 15px 3px;
}
.map-with-prov-page {
	margin-left:255px;
    position:relative;
    *z-index:0;
    *width:700px;
}
#city-select{
	color:#333;
	width:6em;
	height:22px\9;
	vertical-align:middle\9;
    font-family:"Arial";
}
#city-default{
	color:#0055A7;
	height:24px\9;
	*margin-left:8px;
	vertical-align:middle\9;
	*padding-left:2px;
	*padding-right:2px;
}
.prov-page .page{
	padding:0 14px 0 40px;
	line-height:31px;
	height:320px;
	overflow:hidden;
}
.prov-page .page .more{
	text-align:right;
}
.prov-page .norecord{
    padding:0 24px;
    line-height:31px;
}
.nh-islands{
    position:absolute;
    height:146px;
    width:102px;
    bottom:5px;
    right:20px;
    background:url(../images/news/nh-islands.gif) 0 0 no-repeat;
}
.nh-islands img{
    display:none;
}

.prov_page{
	color: #B9B9B9;
	background-position: -68px -104px;
	padding-left: 6px;
}
